.toast {
  position: fixed;
  top: 25vh;
  right: 20px;
  border-radius: 6px;
  padding: 10px 20px;
  opacity: 0;
  z-index: 999;
  color: white;
}

.toast.show {
  background: #38a169;
  font-size: 16px;
  font-weight: 600;
  color: white;
  opacity: 1;
}
.toast.hide {
  display: none;
}

.toast-body {
  display: flex;
  align-items: center;
}

.toast-icon {
  margin-right: 8px;
  font-size: 24px;
  color: white;
}

.toast-message {
  flex-grow: 1;
}

.toast-close {
  border: none;
  background: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.toast-progress {
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
