.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .popup-content input{
    display: block;
  }
  
  .close {
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    font-size: 40px;
    color: white;
    font-weight: bolder;
  }

  .SignUpPro {
    max-height: 420px;
    width: 1000px;
    height: 350px;
    overflow-y: scroll;
    padding: 20px;
  }
  .SignUpPro availability{
    display: flex;
  }
  .SignUpPro input, textarea{
    width: 300px;
    padding: 10px;
  }
  .SignUpPro input[type="submit"] {
    background-color: crimson;
    border: none;
    border-radius: 5px;
    color:  white;
    font-size: larger;
  }
  .SignUpPro input[type="radio"]{
    width: 50px;
    margin: 0px 0px 15px 0px;
  }
  .SignUpPro input[type="submit"]:hover{
    background-color: green;
  }


  .SignUpcust{
    width: 600px;
  }
  .SignUpcust input{
    width: 300px;
    padding: 10px;
  }
   #roleCheckheading{
    text-align: center;
  }
  .SignUpcust input[type="submit"] {
    background-color: crimson;
    border: none;
    border-radius: 5px;
    color:  white;
    font-size: larger;
  }
  .SignUpcust input[type="submit"]:hover{
    cursor: pointer;
    background-color: green;
  }

  .checkbox-group {
    display: flex;
    /* align-items: center;s */
  }
  
  .checkbox-group input[type="radio"] {
    margin-right: 10px;
  }

  .checkbox-group input[type="checkbox"] {
    margin-right: 10px;
  }

  