.bodyDiv{
    display: grid;
    grid-template-columns: repeat(2,25% 75%);
    padding: 20px;
}
.dashMain{
    width: 100%;
    margin: auto;
  }
 
  .table{
    width:  100%;
    /* border: 1px solid red; */
    max-height: 700px; /* Set the desired height */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-top: 35px;
    max-height: 600px; /* Set the maximum height of the table container */
    overflow-y: scroll;
  }
  .table table{
    width:  100%;
  }
  .table table thead{
    height: 60px;
    text-align: center;
  }
  .table table tbody tr{
    height: 50px;
    text-align: center;
  }
  .table #statusBox{
    width: 100px;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    font-weight:500;
    padding-left: 2px;
  }
  .table .completed{
    background-color: green;
    color: white;
  }
  .table .pending{
    background-color: yellow;
  }
  .table .cancelled{
    background-color: red;
    color: white;
  }
  .procard{
    margin: auto;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  
  .portCard-cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    /* border: 1px solid red; */
  }
  .portCard-cont .portCard{
    /* border: 1px solid red;  */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
  }
  .portCard-cont .portCard h1,.portCard-cont .portCard h5{
    margin-left: 20px;
  }

  @media (max-width: 767px){
    .bodyDiv{
      display: grid;
      grid-template-columns: repeat(1);
      grid-template-rows: repeat(3);
    }
  }
